/*!
 * jQuery ComboTree Plugin
 * Author:  Erhan FIRAT
 * Mail:    erhanfirat@gmail.com
 * Licensed under the MIT license
 * Version: 1.3.1
 */

:root {
  --ct-bg: #fff;
  --ct-border-color: #e1e1e1;
  --ct-border-radius: 0.5rem;
  --ct-tree-hover: #efefef;
  --ct-selection: #418eff;
  --ct-padding: 0.5rem;
}

.ct-wrapper {
  position: relative;
  text-align: left !important;
  box-sizing: border-box;
}

.ct-wrapper * {
  box-sizing: border-box !important;
}

.ct-input-wrapper {
  position: relative;
}

.ct-input-box {
  padding: var(--ct-padding) 1.5rem var(--ct-padding) var(--ct-padding);
  border-radius: var(--ct-border-radius);
  border: 1px solid var(--ct-border-color);
  width: 100%;
}

.ct-arrow-btn {
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
  padding: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}
.ct-arrow-btn:hover {
  color: var(--ct-selection);
}
.ct-arrow-btn:active {
  color: var(--ct-selection);
}
.ct-input-box:focus + .ct-arrow-btn {
  color: var(--ct-selection);
}

.ct-drop-down-container,
.ct-drop-down-container *,
.ct-arrow-btn {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.ct-drop-down-container {
  display: none;
  background: var(--ct-bg);
  border: 1px solid var(--ct-border-color);
  position: absolute;
  width: 100%;
  z-index: 999;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.ct-drop-down-container ul {
  padding: 0;
  margin: 0;
}

.ct-drop-down-container li {
  list-style-type: none;
  padding-left: 0;
  cursor: pointer;
}

.ct-drop-down-container .ct-item-parent li {
  padding-left: 1rem;
}

.ct-drop-down-container li .not-selectable {
  color: #777;
}

.ct-drop-down-container li:hover {
  background-color: var(--ct-tree-hover);
}
.ct-drop-down-container li:hover ul {
  background-color: var(--ct-bg);
}
.ct-drop-down-container li span.ct-list-item-title.ct-tree-item-hover,
.ct-drop-down-container label.ct-tree-item-hover {
  background-color: var(--ct-selection);
  color: var(--ct-bg);
  border-radius: 2px;
}
.ct-drop-down-container
  li
  span[data-selectable="false"].ct-list-item-title.ct-tree-item-hover,
.ct-drop-down-container label.ct-tree-item-hover {
  background-color: var(--ct-border-color);
  color: #777;
  cursor: default;
}

span.ct-list-item-title,
.ct-drop-down-container .select-all {
  display: block;
  padding: 0.25rem 1rem;
  margin-left: 1rem;
}
.ct-drop-down-container label {
  cursor: pointer;
  width: 100%;
  display: block;
}
.ct-drop-down-container .ct-list-item-title input,
.ct-drop-down-container .select-all input {
  position: relative;
  top: 2px;
  margin: 0px 4px 0px 0px;
}

.ct-parent-plus {
  position: absolute;
  display: inline-block;
  width: 1rem;
  padding-top: 0.25rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.ct-input-box:focus {
  border: 1px solid var(--ct-selection);
  outline-width: 0;
}

.ct-drop-down-container input.ct-multiples-filter {
  width: 100%;
  padding: var(--ct-padding);
  border: none;
  border-bottom: 1px solid var(--ct-border-color);
}
